@use '@/styles/variables' as *;

.canvas-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  background-color: $bg-canvas;

  &--loading {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
