.canvas-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  background-color: #f5f5f5;

  &--loading {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
