@use '@/styles/variables' as *;

.toolbar {
  position: absolute;
  top: $spacing-md;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  display: flex;
  align-items: center;
  gap: 2px;
  padding: $spacing-xs;
  background-color: $bg-primary;
  border-radius: $radius-lg;
  box-shadow: $shadow-float;

  &__group {
    display: flex;
    gap: 2px;
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    padding: 0;
    border: none;
    border-radius: $radius-md;
    background-color: transparent;
    color: $text-body;
    cursor: pointer;
    transition: all 0.12s ease;
    user-select: none;

    &:hover:not(:disabled) {
      background-color: $bg-hover;
      color: $text-dark;
    }

    &--active {
      background-color: $color-primary-light;
      color: $color-primary-dark;

      &:hover:not(:disabled) {
        background-color: $color-primary-light-hover;
        color: $color-primary-darker;
      }
    }

    &--danger {
      color: $color-error;

      &:hover:not(:disabled) {
        background-color: $color-error-light;
        color: $color-error-dark;
      }
    }

    &:disabled {
      opacity: 0.3;
      cursor: not-allowed;
    }

    svg {
      flex-shrink: 0;
    }
  }

  &__divider {
    width: 1px;
    height: 24px;
    background-color: $border-default;
    margin: 0 $spacing-xs;
    flex-shrink: 0;
  }
}
